/* 全局英文字体使用微软正黑体 */
* {
  font-family: "Segoe UI";
}

p {
  margin: 0;
}

.background {
  position: absolute;
  inset: 0;
  display: flex;
  flex-wrap: wrap;
}
.bg-line {
  width: 10%;
  height: 10%;
  background: linear-gradient(135deg, #ff7eb3, #65d6ce);
}

.glass-fog {
  filter: drop-shadow(0px 0px 2px #fffa) drop-shadow(0px 0px 2px #fffa)
    drop-shadow(0px 0px 4px #fffa) drop-shadow(0px 0px 4px #fffa);
}

.windowBtnStd {
  height: 1em;
  width: 1em;
  vertical-align: middle;
  color: #fff;
  filter: drop-shadow(0px 0px 2px #888a) drop-shadow(0px 0px 2px #888a);
  transition: all 0.3s ease;
}

.windowBtnClose {
  height: 1.2em;
  width: 1.2em;
  vertical-align: middle;
  color: #fff;
  filter: drop-shadow(0px 0px 2px #888a) drop-shadow(0px 0px 2px #888a);
  transition: all 0.3s ease;
}

.windowBtnClose:hover {
  filter: drop-shadow(0px 0px 2px #ff0000) drop-shadow(0px 0px 4px #ff4747)
    drop-shadow(0px 0px 6px #ff7e7e) drop-shadow(0px 0px 8px #ff8e8e)
    drop-shadow(0px 0px 10px #ffb7b7) drop-shadow(0px 0px 12px #ffffff);
}
.windowBtnStd:hover {
  filter: drop-shadow(0px 0px 2px #aaebff) drop-shadow(0px 0px 4px #aaebff)
    drop-shadow(0px 0px 6px #aaebff) drop-shadow(0px 0px 8px #aaebff)
    drop-shadow(0px 0px 10px #aaebff) drop-shadow(0px 0px 12px #aaebff);
}
.glass-component {
  color: #fff;
  position: fixed;
  padding: 0;
  overflow: hidden;
  user-select: none;
  box-shadow: rgba(58, 58, 58, 0.333) 0px 0px 20px 1px;
  border: solid 1px #ffffffaa;
  outline: solid #6663 1px;
}

.titlebar img {
  -webkit-app-region: no-drag;
  /* 按钮区域不允许拖动 */
}