.mask-b-from-70-to-100 {
  mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 70%,
    rgba(0, 0, 0, 0) 100%
  );
  backdrop-filter: blur(0.8px);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.mask-b-from-50-to-75 {
  mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 50%,
    rgba(0, 0, 0, 0) 75%
  );
  backdrop-filter: blur(2px);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.mask-b-from-20-to-55 {
  mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 20%,
    rgba(0, 0, 0, 0) 55%
  );
  backdrop-filter: blur(10px);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.mask-u-from-70-to-100 {
  mask-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 1) 70%,
    rgba(0, 0, 0, 0) 100%
  );
  backdrop-filter: blur(0.8px);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.mask-u-from-50-to-75 {
  mask-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 1) 50%,
    rgba(0, 0, 0, 0) 75%
  );
  backdrop-filter: blur(2px);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.mask-u-from-20-to-55 {
  mask-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 1) 20%,
    rgba(0, 0, 0, 0) 55%
  );
  backdrop-filter: blur(10px);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
