
.glass-tint {
  position: absolute;
  inset: 0;
  z-index: 1;
  background: rgba(122, 122, 122, 0.11);
  border-radius: 0px;
}

.glass-shine {
  position: absolute;
  inset: 0;
  z-index: 2;
  border: 1px solid rgba(255, 255, 255, 0.13);
  border-radius: 0px;
  box-shadow: inset 1px 1px 8px 0 rgba(255, 255, 255, 0.18),
    inset -1px -1px 8px 0 rgba(255, 255, 255, 0.08);
  pointer-events: none;
}

.glass-content {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  z-index: 3;
  color: white;
  box-shadow: #777777 2px 2px 10px 2px,inset 0 0 8px 2px #ffffff4d;
}

.glass-component {
  display: flex;
}

.glass-effect {
  position: absolute;
  inset: 0;
  z-index: 0;
  backdrop-filter: blur(5px);
  filter: url(#gl);
  width: 100%;
  height: 100%;
  isolation: isolate;
  border-radius: 0px;
}
